#head-menu{
    padding-top: 50px;
    height: 20vh;

}
span{
    display: inline-block;
    width:  100px;
}
#title{
    width: 600px;
    color:blue;
    border-bottom: 1px solid black;
}
label{
    width: 100%;
}
